/* src/Components/JobSelection.css */

.job-selection-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .button-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Positions buttons opposite each other */
  }
  
  .button-group button {
    width: 80px; /* Make buttons smaller */
    height: 80px; /* Make buttons square */
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
  }
  
  .button-group button:hover {
    background-color: #45a049;
  }
  
  .job-details-form,
  .item-details-form {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 10px;
  }
  
  form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #1976D2;
  }
  